* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font: 16px Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.slider {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.slider .controles {
    position: absolute;
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
}

.slider .controle {
    width: 1.75rem;
    height: 1.75rem;
    margin: 0 0 0 1rem;
    line-height: 1.75rem;
    text-align: center;
    font-size: 1rem;
    border: none;
    border-radius: 50%;
    background-color: rgba(199, 199, 199, 0.6);
    color: #222222;
    overflow: hidden;
    cursor: pointer;
}

.slider .controle.pausa {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
}

.slider .painel {
    display: flex;
    height: 100%;
    transition: margin ease 600ms;
}

.slider .item {
    width: 100vw;
    height: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider .item .info {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 30%;
    min-height: 160px;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1.25rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.slider .item .info .titulo {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}